.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}
body {
    background-color:black;
}

.folders{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.folders img {
    width: 420px;
    height: 420px;
    border: solid white 3px;
    margin-top: 50px;
    border-radius: 20px;
}


.folders img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 300ms ease;
    box-shadow: 3px 3px 16px #fff;
}

.forms {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: red;
    font-weight: bold;
    font-size: 18px;
}